.card-resumo .card {
    border-radius: 10px;
    width: 200px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
}

.grafico {
    width: 80%;
}

.grafico .card {
    border-radius: 10px;
    height: 100%;
}


@media (max-width: 768px) {
    .relatorio {
        flex-direction: column;
    }

    .card-resumo .card {
        width: 100%;
    }

    .grafico {
        width: 100%;
    }
}