.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: var(--color-secondary);
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.navbar .flex {
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.navbar h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.logo {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 15px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    font-weight: bold;
    border-bottom: 2px solid white;
}