.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.banner-login {
    width: 50%;
    height: 100%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-login .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.banner-login .text{
    text-align: center;
}

.banner-login .flex h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.banner-login .flex p {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}